<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clark Kaminsky | Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}"> </head>
<body>
    <header>
        <div class="logo">
            <a href="#">CK</a> </div>
        <nav>
            <ul>
                <li><a href="#">Projects</a></li>
                <li><a href="#">About</a></li>
                <li><a href="Kaminsky_Resume.pdf">Résumé</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            <h1>A Little Behind The Scenes...</h1>
            <p>Tids and bits from my design process, unused concepts and experiments - all uncut and raw. Watch this space as I upload more!</p>
        </section>
        <section class="projects">
            <h2>PROJECTS</h2>
            <div class="project">
                <h3>Customer Journey Mapping</h3>
                <p>A customer journey map detailing interactions across various touchpoints throughout the experience of an app, crafted in collaboration with a cross-functional team of product managers, engineers, and other stakeholders.</p>
                <a href="#" class="button">View Related Project</a>
            </div>
            </section>
    </main>
</body>
</html>